@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.carousel{
    margin-right: 100px;
    margin-left: 100px;
    height: 415px;
    position: relative;
    border-radius: 25px; 
    overflow: hidden;


    figure{
        padding: 0;
        box-sizing: border-box;
        margin: 0;
        height:415px;
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

        .chevronLeft{
            font-size: 80px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            left: 75px;
        }
        .chevronRight{
            font-size: 80px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            right:75px;        
        }

        .index_pos{
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 25px;
            text-align: center;
            color: white;
            font-family: Montserrat;
            font-size: 18px; 
        }
}

@media (max-width: 1080px) {

    .carousel{
        margin-right: 20px;
        margin-left: 20px;
        height: 255px;
        overflow: hidden;
        figure{
        img{
            object-fit: cover;
            object-position: bottom;
        }
    }

        .chevronLeft{
            font-size: 40px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            left: 20px;
        }
        .chevronRight{
            font-size: 40px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            right:20px;        
        }

        .index_pos{
            display: none;
        }
    }
    
}
