@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.error_body{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom:140px;
    margin-top: 140px;
    gap:140px;
    color: #FF6060;
    font-family: Montserrat;
    font-style: normal;





    h1{
    margin: 0;
    font-size: 288px;
    font-weight: 700;
    }


    p{
        font-size: 36px;
        font-weight: 500; 
    }

    a{
        font-size: 18px;
        font-style: normal;
        font-weight: 500; 


        &:active{
            color: inherit;
        }
    
        &:visited{
            color: inherit;
        }

    }



}

@media (max-width: 1080px) {


    .error_body{
        margin-top: 100px;
        gap: 110px;
    }
}
