@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

footer{
    display: flex;
    padding-top:60px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width:100%;
    color:white;
    background-color: black;

    img{
        width: 120px;
        height: 40px; 
    }

    p{
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
    }

}


@media (max-width: 1080px) {
    footer{
        box-sizing:border-box;
        padding: 70px 120px 60px;
        margin:auto;
    }


}

