header{
  display: flex;
  padding-top: 45px;
  padding-bottom:45px;
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: row;
}

.logo{
  width: 210.322px;
  height: 68px; 
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap : 60px;
  align-items: center;
  color: #FF6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 24px; 
  a{
  text-decoration: none;
  &:visited, &:active{
    color:inherit;

  }
}

}

.underline{
  text-decoration-line: underline !important ;
}